<h1 class= "new-product-title">Enter New Product:</h1>


<%= form_with(model: product, local: true, class: 'product-form') do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, class: 'name-label' %>
    <%= form.text_field :name, class: 'name' %>
  </div>

  <div class="field">
    <%= form.label :description, class: 'text-label' %>
    <%= form.text_area :description, class: 'text' %>
  </div>

  <div class="field">
    <%= form.label :image_url, class: 'image-label' %>
    <%= form.text_field :image_url, class: 'image' %>
  </div>

  <div class="field">
     <span id='price'><%= form.label :price, class: 'price-label' %></span><br>
    <span id='price-field'><%= form.text_field :price, class: 'price' %></span>
 </div>

  <div class="actions">
    <%= form.submit 'SUBMIT', :class => 'new-product-btn' %>

  </div>
<% end %>
