<p id="notice"><%= notice %></p>

<div class="container" id="single-product" data-product-id="<%= @product.id %>">
  <div id="album-name">
    <h2 id="single-product-title">Album Name:</h2>
      <%= @product.name %>
  </div>

  <div id= "album-description">
    <h2 id="single-product-title">Description:</h2>
      <%= @product.description %>
  </div>

  <div class= "album-image">

    <%= image_tag(@product.image_url, class: "img-zoom", width: "350px", data_zoom_image: "@product.image_url") %>


  </div>

  <p>Average Rating:</p>
    <div class="rated", id= "#average-rating", data-score="<%= @product.average_rating %>"></div>

  <div id="album-price">
    <h2 id="single-product-title">Price:</h2>
        <%= @product.price %>
  </div>



<% if signed_in? %>
  <%= form_with(url: '/payments/create') do |form| %>
    <%= render partial: "shared/stripe_checkout_button" %>
  <% end %>
<% end %>

  <h6>
            Views:
            <span class="badge badge-pill badge-warning">
              <%= @product.views %>
            </span>
            Latest reviewer:
            <span class="badge badge-pill badge-warning">
              <%= @product.get_recent_reviewer %>
            </span>
  </h6>


    <%= render 'new_comment' %>
    <%= render 'comments' %>
    <div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>


  </div>

  <%= link_to 'Edit', edit_product_path(@product) %>
  <%= link_to 'Back', products_path %>
